<div class="line-item-date">
  <div class="line-item-date__header">
    <h2 class="line-item-date__title">
      <%= l(line_item_date.date, format: :long) %>
    </h2>

    <div class="line-item-date__actions">
      <%= button_to "Delete",
              restaurant_line_item_date_path(restaurant, line_item_date),
              method: :delete,
              form: { data: { turbo_confirm: "Are you sure?" } },
              class: "btn btn--light" %>
      <%= link_to "Edit",
                  [:edit, restaurant, line_item_date],
                  data: { turbo_frame: line_item_date },
                  class: "btn btn--light" %>
    </div>
  </div>
</div>