<div class="empty-state empty-state--only-child">
  <p class="empty-state__text">
    You don't have any restaurants yet!
  </p>
  <%= link_to "Add restaurant", new_restaurant_path, class: "btn btn--primary" %>
</div>
